*{
margin: 0;
padding: 0;
}

main{
    display: grid;
    justify-content: center;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   width: 1200px;
   margin-left: 250px;
}
nav {
    
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    background-color: #2B2A2B;
    color: #ffff;
    font-size: 14px;

}

.navWords {
    font-size: 15px;
    line-height: 30px;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    padding: 7px;
    padding-left: 60px;
    margin-right: 12px;

}


#cafeAlturaLogo {
    padding-top: 14px;
    padding-left: 60px;
}

#bagIcon {
    text-decoration: none;
    color: white;
    margin-left: 120px;
}

#sigIn {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-style: solid;
    border: #515051;
    background-color: #515051;
    font-size: 12px;
    border-radius: 4px;
    
}

#phoneIcon {
    display: flex;
    flex-direction: row;
}

.imgPhone {
    height: 18px;
    margin-right: 10px;
    margin-top: 4px;
}


.card {
margin-top: 10px;
margin-bottom: 10px;
}

#h2Section4 {
    text-align: center;
    font-size: 1.5em;
    color: #2A5B45;
    padding: 20px 0px;
}

.card-body {
    text-align: center;
}

.btn {
    background-color: #2A5B45;
    border: none;

}

.imgSec4 {
    padding-top: 25px;
}

.verTodos {
    padding-top: 35px;
}

#verTodosSection4 {
    text-decoration: none;
    color: black;
}
.section3 {
    display: flex;
    justify-content: center;
    background-image: url(../Assets/images/backgroundsection3.jfif);
    width: auto;
    height: auto;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

article {
    display: flex;
    justify-content: center;
}

.divIcon {
    display: flex;
    align-items: center;
    align-content: center;
    width: 316px;
    height: 232px;
    margin: 15px;
    background-color: #ffff;
    border-radius: 8px;
}

#h2Section3 {
    text-align: center;
    font-size: 22px;
    color: #ffff;
    padding-top: 35px;
}

.section3Img {
    width: 60px;
    height: 55px;
    background-color: #2A5B45;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
}
h3.h3Section3 {
    font-size: 5px;
}
.divSection3 {
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
}
#pHours{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
}

footer {
    height: 250px;
    background-color: #1F1815;
}

.col1F {
    padding-left: 15px;
}

.col1F p {
    padding-top: 20px;
    color: #E3DED7;
    font-weight: bold;
}

#cafedeAlturaLogoF {
    padding-top: 25px;
}

.buttonF {
    background-color: #515051;
}

.buttonF a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
}

#phoneButtonF {
    width: 182px;
    height: 48px;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 4px;
}

#mailButtonF {
    width: 232px;
    height: 48px;
    margin-top: 16px;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 4px;
}

.col2F {
    margin-top: 60px;
    display: flex;
    font-size: 14px;
    flex-direction: column;

}

.col2F a {
    padding-top: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.col3F {
    margin-top: 60px;

    display: flex;
    font-size: 14px;
    flex-direction: column;

}

.col3F a {
    padding-top: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.lastSection {
    height: 50px;
    background-color: #2B2A2B;
}

.lastSection p {
    text-align: center;
    padding: 12px 0;
    color: #ffff;
    font-weight: bold;
}

.card:hover {
    background-color: #E3DED7;
    ;
}

.divShoppingCard {
    display: inline-block;
}

.shoppingCard {
    position: absolute;
    top: 50px;
    right: 310.5px;
    background-color: #2B2A2B;
    color: whitesmoke;
    font-size: 14px;
    width: 600px;
    height: auto;
    padding: 0px, 10px, 15px, 0px;
    display: none;
}

.shopping-cart-items {
    background-color: #2B2A2B;
    padding: 40px;

}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}

.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}

.shopping-cart-total {
    min-height: 96px;

}

.linkQuestions {
    text-decoration: none;
    color: #1F1815;
}

.linkQuestions:hover {
    color: #1F1815;
}

.pQuestion {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.open_close {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.buttonDelete {
    margin-right: 40px;
}

.totalPriceStyle {
    font-weight: bolder;
    padding: 10px;
    margin-left: 460px;
    border: solid;
    border-color: whitesmoke;
    background-color: #2A5B45;
    font-size: 12px
    ;
}

#productShopContainer{
padding-top: 20px;
}

