*{
    margin: none;
    padding: none;

}

body {

    font-family: 'Outfit', sans-serif;
}


nav {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    background-color: #2B2A2B;
    color: #ffff;
    font-size: 14px;

}
main{
    justify-content:space-between;
    margin-bottom: 40px;
    font-size: 14px;
}
.navWords {
    font-size: 15px;
    line-height: 30px;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    padding: 7px;
    padding-left: 60px;
    margin-right: 12px;

}

.formulario{
    margin-left: 60px;
}


#cafeAlturaLogo {
    padding-top: 14px;
    padding-left: 60px;
}

#bagIcon {
    text-decoration: none;
    color: white;
    margin-left: 120px;
}

#sigIn {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-style: solid;
    border: #515051;
    background-color: #515051;
    font-size: 12px;
    border-radius: 4px;
    
}

#phoneIcon {
    display: flex;
    flex-direction: row;
}

.imgPhone {
    height: 18px;
    margin-right: 10px;
    margin-top: 4px;
}

#h2Section4 {
    text-align: center;
    font-size: 1.5em;
    color: #2A5B45;
    padding: 20px 0px;
}
.form-check{
    display: flex;
    flex-direction: column;
}

.dateCVC{
    display: flex;
    flex-direction: row;
}
.contentDateCVC{
    display: flex;
    flex-direction: column;
}
.bizum{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  
}
.datosUsuario{
    display: flex;
    flex-direction: column;
}
.direccionForm{
    display: flex;
    flex-direction: row;
}
.poblacionCP{
    display: flex;
    flex-direction: column;
}
.lastSection {
    height: 50px;
    background-color: #2B2A2B;
}

.lastSection p {
    text-align: center;
    padding: 12px 0;
    color: #ffff;
    font-weight: bold;
}
.subtotalEnvio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#IVA{
    display: flex;
    justify-content: flex-end;
}

#pagarPedido{
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: #2A5B45;
    background-color: #2A5B45;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 4px;
}
.totalBox{
    margin-right: 80px;
    justify-content: flex-end;
    width: 384px;
    height: 320px;
    background-color: #F7F5F3;
    padding: 24px;
    border-radius: 10px;
}
.form-check-input:after{
   background: #2A5B45;
}
.tarjetaDebito{
    display: flex;
    flex-direction: row;
    margin-top: 30px;

}

.input1{
    margin-right: 15px;
    
}

.seleccionarMP{
    font-size: 18px;
    font-weight: bold;

}

.tarjetaTittle{
    font-size: 14px;
    font-weight: bold;
}

.tarjetaP{
    font-size: 14px;
    line-height: 16px;
}
.tittleForm{
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;

}
.placeForm{

    font-size: 12px;
    border-color: #D1D5DB;
   border-width: 1px;
    border-radius: 6px;  
}

#titualrForm{
    width: 279px;
    height: 28px;
}

#numeroTarjetaForm{
    width: 279px;
    height: 28px;

}

.transferenciaBancaria{
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}
.transferenciaBancariaP{
    font-size: 14px;
    line-height: 16px;
}

#CVC{
    margin-left:25px ;
}
#fechaCaducidad{
    width: 127px;
    height: 29px;
}

#CVC2{
    width: 127px;
    height: 29px;

}

.input2{
    margin-right: 15px;
    
}
#bizum{
    padding-top: 5px;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 10px;
}

#bizumLogo{
    width: 62px;
    height: 26px;
    margin-left: 10px;

}

.totalBox{
    font-size: 14px;
}

#direccionE{
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
}
.place2{
    width: 521px;
    height: 29px;
}

#Cp2{
    margin-left: 27px;
}
.cp2{
width: 248px;
height: 29px;
}
.direccion2{
    width: 112.25px;
    height: 29px;
}
.separate2{
    margin-left: 25px;
}
#subtotal{
    font-size: 18px;
}
.subtotalEnvio{
    font-size: 12px;
}