*{
    margin: none;
    padding: none;

}
body {
    font-family: 'Outfit', sans-serif;
}


nav {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    background-color: #2B2A2B;
    color: #ffff;
    font-size: 14px;

}

.firstsection{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
main{
    justify-content:space-between;
    margin-bottom: 40px;
    font-size: 14px;
}
.navWords {
    font-size: 15px;
    line-height: 30px;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    padding: 7px;
    padding-left: 60px;
    margin-right: 12px;

}

.formulario{
    margin-left: 60px;
}


#cafeAlturaLogo {
    padding-top: 14px;
    padding-left: 60px;
}

#bagIcon {
    text-decoration: none;
    color: white;
    margin-left: 120px;
}

#sigIn {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-style: solid;
    border: #515051;
    background-color: #515051;
    font-size: 12px;
    border-radius: 4px;
    
}

#phoneIcon {
    display: flex;
    flex-direction: row;
}

.imgPhone {
    height: 18px;
    margin-right: 10px;
    margin-top: 4px;
}
.cestaTittle {
    text-align: center;
    font-size: 1.5em;
    color: #2A5B45;
    padding: 20px 0px;
}
.lastSection {
    height: 50px;
    background-color: #2B2A2B;
}
.lastSection p {
    text-align: center;
    padding: 12px 0;
    color: #ffff;
    font-weight: bold;
}
.totalBox{
    margin-right: 80px;
    justify-content: flex-end;
    width: 384px;
    height: 320px;
    background-color: #F7F5F3;
    padding: 24px;
    border-radius: 10px;
}

.subtotalEnvio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

#productTittle2{
    font-size: 18px;
}

#seleccionarEnvio{
    font-size: 18px;
}

.carrito{
    height: auto;
}
.btn {
    background-color: #2A5B45;
    border: none;

}
.envioStandard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulosEnvio{
    font-size: 14px;
    font-weight: bold;
}
.pEnvios{
    font-size: 14px;
}

.precioEnvio{
font-size: 16px;
font-weight: bold;
}

#gotoCheckOut{
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: #2A5B45;
    background-color: #2A5B45;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#gotoShop{
    color: #2A5B45;
    text-decoration: none;
    font-weight: bold;
}
.shoppBox{
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 40px;
    top: 15px;
    right: 1px;
    background-color: #2B2A2B;
    color: whitesmoke;
    font-size: 14px;
    width: 600px;
    height: auto;
    padding: 0px, 10px, 15px, 0px;
    
}
    

.totalDown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.totalBuying{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.shopButton{
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: #2A5B45;
    background-color: #2A5B45;
    color: whitesmoke;
    width: 30px;
    height: 30px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.cantidadProduct{
    color: whitesmoke;
}
.cuantityCar2{
    background-color: #2A5B45;
    color: whitesmoke;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
    opacity: 0%;
}

.divShoppingCard {
    display: inline-block;
}

.shoppingCard {
    position: absolute;
    top: 50px;
    right: 310.5px;
    background-color: #2B2A2B;
    color: whitesmoke;
    font-size: 14px;
    width: 600px;
    height: auto;
    padding: 0px, 10px, 15px, 0px;
    display: none;
}

.shopping-cart-items {
    background-color: #2B2A2B;
    padding: 40px;

}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}

.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}

.shopping-cart-total {
    min-height: 96px;

}

/* .productStyle{

} */
.cestaProducts{
display: flex;
flex-direction: row;
}
.productImg{
    display: flex;
    flex-direction: row;
}
.totalEachProducts{
    display: flex;
    flex-direction: row;
}
.totalProduct11{
    display: flex;
    font-weight: bold;
    font-size: 16px;
}
.shoppingCartItemTitle{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 14px;
}
.imgInBasket{
    width: 56px;
    height: 56px;
}
.shopButton{
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: #2A5B45;
    background-color: #2A5B45;
    color: whitesmoke;
    width: 30px;
    height: 30px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.cantidadProduct{
    color: whitesmoke;
}

.cuantityCar2{
    background-color: #2A5B45;
    color: whitesmoke;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
    opacity: 0%;
}

#buttonContent2{
    display: flex;
    justify-content: center;
    
}

.cuantity{
    padding-left: 20px;
    margin-right: 20px;
}

.btnRestSum{
    border-radius: 60%;
    background-color: #2A5B45;
    color: whitesmoke;
    border: none;
   
}

.sum{
    padding-left: 6px;
    padding-right: 6px;
}
.rest{
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    font-weight: bolder;
    margin-right: 30px;
    
}

.totalDown{
    padding-top: 30px;
 }

 .cesta{
    color: whitesmoke;
    text-decoration: none;
    background-color: #2A5B45;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.btn {
    background-color: #2A5B45;
    border: none;
    width: 40px;
    margin-bottom: 15px;
    margin-left: 90px;
    
}

.styleSum{
    text-align: center;
    margin-top: 2px;
    height: 22px;
    
}

.shoppingCartItemTitle{
    padding-left: 10px;
    padding-top: 5px;
}
.envioPagado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.paddingEnvio{
    padding-left: 20px;
}
#IVA{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #515051;
}